.supplier-details-part{
    text-align: center;
}
.totals{
    text-align: right;
}
#title{
    font-size: 20px;
    text-align: center;
     margin-top: 40px;
}
.details{
    text-align: center;
}

.container{
   font-size: 9px;
   width: 80%;

}
 @media only screen and (min-width: 350px) {

    .details{
        text-align: right;
    }
} 
