.supplier-details-part{
    text-align: center;
}
.totals{
    text-align: right;
}
#title{
    text-align: center;
}
.details{
    text-align: center;
}
 @media only screen and (min-width: 350px) {

    .details{
        text-align: right;
    }
} 